<div th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div class="d-flex justify-content-between">
        <div class="">
            <label for="page-number">Página:</label>
            <input id="page-number" name="pagina" type="number" value="0"/>
        </div>
        <nav class="">
            <ul class="pagination my-auto">
                <li class="page-item disabled">
                    <button aria-disabled="true" class="page-link" id="btn-anterior" onclick="voltarPagina()"
                            tabindex="-1">
                        Anterior
                    </button>
                </li>
                <li class="page-item">
                    <button class="page-link" id="btn-proximo" onclick="avancarPagina()">Próxima</button>
                </li>
            </ul>
        </nav>
    </div>
    <script th:inline="javascript" type="application/javascript">
        let pageInput = $("#page-number");
        const usersPage = [[${usersPageSize}]];
        const adminUsername = /*[[${#authentication.getPrincipal().getUsername()}]]*/ 'missing-admin-username'

        async function queryData(url) {
            fetch(url, {
                method: 'POST',
                body: JSON.stringify({
                    page: pageInput.val()
                }),
                headers: {
                    'content-type': 'application/json',
                    'X-XSRF-TOKEN': /*[[${_csrf.token}]]*/ 'missing-csrf-token'
                },
            }).then(function (response) {
                response.json().then(function (data) {
                    console.log(data);
                    data.forEach(function (user) {
                        appendUser(user.username, user.id);
                    })
                }).then(function () {
                    verificarBotoesPaginacao();
                });
            })
                .catch(function (err) {
                    alert(err)
                    console.error('Failed retrieving information', err);
                });
        }

        async function find() {
            pageInput.val() ? pageInput.val() : pageInput.val(0);
            $("#user-list")[0].innerHTML = "";
            let apiUrl = "/api/admin/" + /*[[${queryPath}]]*/ 'default';
            await queryData(apiUrl);
        }

        async function voltarPagina() {
            if (podeVoltarPagina()) {
                pageInput.val(parseInt(pageInput.val()) - 1);
                await find();
            }
        }

        async function avancarPagina() {
            if (podeAvancarPagina()) {
                pageInput.val(parseInt(pageInput.val()) + 1);
                await find();
            }
        }

        function verificarBotoesPaginacao() {
            if (podeAvancarPagina()) {
                $("#btn-proximo").parent().removeClass('disabled');
            } else {
                $("#btn-proximo").parent().addClass('disabled');
            }

            if (podeVoltarPagina()) {
                $("#btn-anterior").parent().removeClass('disabled');
            } else {
                $("#btn-anterior").parent().addClass('disabled');
            }
        }

        function podeVoltarPagina() {
            return !(pageInput.val() == null || parseInt(pageInput.val()) === 0);
        }

        function podeAvancarPagina() {
            return $("#user-list .user-card").length === usersPage;
        }

        function appendUser(username, userId) {
            /*<![CDATA[*/
            [# th:if="${queryPath == 'userswithoutaccesstoapi'}"]
            // authorize
            let template =
                `<div class="card text-center text-white user-card ${username === adminUsername ? 'bg-info' : 'bg-dark'}">
                        <div class="card-header">
                            ${username}
                        </div>
                        <div class="card-body">
                            <button class="btn btn-success" onclick="authorizeUser(${userId})">
                                Autorizar Usuário
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                </svg>
                            </button>
                        </div>
                    </div>`;
            [/]
            [# th:unless="${queryPath == 'userswithoutaccesstoapi'}"]
            // revoke
            let template =
                `<div class="card text-center text-white user-card ${username === adminUsername ? 'bg-info' : 'bg-dark'}">
                        <div class="card-header">
                            ${username}
                        </div>
                        <div class="card-body">
                            <button class="btn btn-danger" onclick="revokeUser(${userId})">
                                Revogar Acesso
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                </svg>
                            </button>
                        </div>
                    </div>`
            [/]
            /*]]>*/
            $("#user-list").append(template);
        }
    </script>
</div>