body {
    background-color: #212121;
    color: #ececec;
}

.bottom-content {
    margin: 20px 50px;
}

.bottom-content .card{
    margin: 10px 0;
}

/*Remove input[type=number] arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}